// {{.GoName}} has all fields from {{.CollectionName}}.
type {{.GoName}} struct{
    {{- range .Fields}}
    {{.Name}} {{.Type}}
    {{- end}}
    {{- range .Relations}}
    {{.MethodName}} {{.ResultType}}
    {{- end}}
}

type {{.GoNameLc}}Builder struct{
    builder[{{.GoNameLc}}Builder, *{{.GoNameLc}}Builder, {{.GoName}}]
}

func (b *{{.GoNameLc}}Builder)lazy(ds *Fetch, idI any) *{{.GoName}} {
		id := idI.(int)
    c := {{.GoName}}{}
    {{- range .Fields}}
    ds.{{.FetchName}}(id).Lazy(&c.{{.Name}})
    {{- end}}
    return &c
}

func (b *{{.GoNameLc}}Builder) Preload(rel builderWrapperI) *{{.GoNameLc}}Builder {
	b.builder.Preload(rel)
    return b
}

{{ range .Relations }}
	func (b *{{$.GoNameLc}}Builder) {{.MethodName}}() *{{.TypeLc}}Builder {
		return &{{.TypeLc}}Builder{
			builder: builder[{{.TypeLc}}Builder, *{{.TypeLc}}Builder, {{.Type}}]{
				fetch: b.fetch,
				parent: b,
				idField: "{{.FieldName}}",
				relField: "{{.MethodName}}",
            	{{- if .IsList}}
            	many: true,
	        	{{- end}}
			},
		}
	}

	{{ if .IsGeneric }}
		type {{ .Type }} interface {
    		is{{ .Type }}()
		}

		{{ $type := .Type }}
		{{ range $index, $element := .GenericTypes }}
		func (*{{ $element }}) is{{ $type }}() {}{{ end }}

		type {{.TypeLc}}Builder struct {
			builder[{{.TypeLc}}Builder, *{{.TypeLc}}Builder, {{.Type}}]
		}

		func (b *{{.TypeLc}}Builder) lazy(ds *Fetch, id any) *{{.Type}} {
			fqid, ok := id.(string)
			if !ok {
				return nil
			}
			
			collection, idStr, ok := strings.Cut(fqid, "/")
			if !ok {
				return nil
			}
			
			intId, err := strconv.Atoi(idStr)
			if err != nil {
				return nil
			}

			switch collection {
			{{ $genericTypesLc := .GenericTypesLc }}
			{{ $genericTypesCc := .GenericTypesCc }}
			{{ range $i, $gType := .GenericTypes }}
			case "{{ index $genericTypesCc $i }}":
				{{ $typeLc := index $genericTypesLc $i }}
				builder := &{{$typeLc}}Builder{
					builder: builder[{{$typeLc}}Builder, *{{$typeLc}}Builder, {{$gType}}]{
						fetch: ds,
					},
				}
				result := builder.lazy(ds, intId)
				return (*{{$type}})(unsafe.Pointer(result))
			{{ end }}
			}
					
			return nil
		}

		func (b *{{.TypeLc}}Builder) Preload(rel builderWrapperI) *{{.TypeLc}}Builder {
			b.builder.Preload(rel)
			return b
		}
	{{ end }}
{{ end }}

func (r *Fetch){{.GoName}}(ids... int) *{{.GoNameLc}}Builder {
	return &{{.GoNameLc}}Builder{
		builder: builder[{{.GoNameLc}}Builder, *{{.GoNameLc}}Builder, {{.GoName}}]{
			ids: ids,
			fetch: r,
		},
	}
}
